<div class="col-md-6 mx-auto">
    <div class="card w-md-50 w-100 ">
        <div class="card-body">
            <h5 class="card-title">Todo App</h5>
            <div class="form-group">
                <span class="d-flex">
                    <textarea class="form-control form-control-lg" id="todoEntry" rows="1"
                        placeholder="Write your todo here..."></textarea>
                    <a href="#" class="btn btn-primary">Submit</a>
                </span>
            </div>
        </div>
    </div>
</div>